.fontDe {
  background: linear-gradient(45deg, #4fa1a1, #1a0805) !important;
  width: 280px;
}
.teste {
  width: 16px;
  height: 16px;
}

.profile {
  width: 32px;
  height: 32px;
}
.cent {
  /* display: none; */
  text-align: center;
  align-items: center;
  display: flex;
  margin-left: 30%;
}
.fahatany {
  /* font-size: larger; */
  /* margin-left: 3rem; */
  /* width: 200%; */
  /* display: center; */
  /* text-align: center; */
  /* align-content: center; */
  /* margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; */
  /* justify-content: space-between; */

  margin-top: 5%;
  /* margin-left: 10%; */
  width: 200%;
}

.bgc {
  background: linear-gradient(45deg, #4fa1a1, #1a0805);
}

.faha {
  position: fixed;
  margin-top: 10%;
  /* margin-bottom: 10%; */
  margin-left: 2%;
  width: 74%;
}
.add {
  text-decoration: none;
  color: white;
}

.buttons:hover {
  width: 10%;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .teste {
    /* width:16px;
          height:16px; */
    width: 24px;
    height: 24px;
  }

  .profile {
    width: 40px;
    height: 40px;
  }

  .sp {
    display: none;
  }
  .actives {
    /* color: #fff; */
    width: 55px;
  }

  .ta {
    padding-top: 20px;
  }

  .logo {
    display: none;
  }
  .fontDe {
    background: linear-gradient(45deg, #4fa1a1, #1a0805) !important;
    /* width: 280px; */
    width: 5rem;
  }
}

/* Mise a jour de code  */

footer {
  margin-top: 40%;
}

.pied {
  
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-left: 120px;
  margin-top: 80px;
}

.vale {
  margin: 0 25px;
  color: rgb(63, 63, 63);
  /* background: #000; */
  margin-left: 60px;
  margin-top: 2%;
}

h1 {
  display: none;
}

.per {
  position: fixed;
  margin-left: 2%;
  margin-top: 5%;
}

.img1:hover {
  width: 25px;
}
.img2:hover {
  width: 25px;
}

.esp {
  padding: 0 10px;
}

.pagination2 {
  position: fixed;
  margin-top: 0.5rem;
  margin-left: 970px;
  font-size: larger;
}
.pagination2 a:hover {
 color: #399cff;
}

.pagination2 a {
margin-left: 1rem;
text-decoration: none;
color: #27225c;
}



/* anothers */
.pagination1 {
  font-size: larger;
  position: fixed;
  margin-left: 2%;
}

.pagination1 a:hover {
 color: #399cff;
 ;
}

.pagination1 a {
text-decoration: none;
color: #27225c;
}

.disp{
  display: none;
}
